
body {
  font-family: Helvetica;
}

h1, h2, h3, h4, h5 {
  font-family:'Times New Roman';
}

.navbar {
  background-color: transparent;
}

.navbar-nav > li {
  text-align: center;
}

.nav-item {
  font-size: 20pt;
  margin-left: 50px;
  margin-right: 50px;
  align-items: center;
}

#header {
  color: white;
}

.site-footer {
  align-content: center;
  background-color: rgb(34, 34, 34);
  margin-top: 50px;
  max-width: 100%;
}

h5 {
  color: white;
  font-size: x-small;
  text-decoration: underline;
}

h3 {
  padding-top: 50px;
  text-decoration: underline;
  text-align: center;
}

.carousel-item {
  width: 100%;
}

.carousel-caption {
  position: justify;
  top: 20%;
  bottom: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

#homeP {
  padding-top: 20px;
}

#mediaImg {
  max-width: 250px;
}

#aboutMe {
  margin-top: 5;
}

.card-header {
  color: black;
}
.site-footer h5{
  margin-right: 2px;
}
.btn-social-icon {
  margin-right: 4px;
}